{% extends 'base.html' %}

{% block title %} Expenses {% endblock %}

{% block content %}
<div class="expenses_form">
        <div class="header">

        <h1> DACH SACH CHI TRONG THANG</h1>
        <p> Thang: {{time_show}}</p>
        </div>
    <div class="form_group">

        <form method="POST" action="/expenses" id="expenses">
             <label for="expenses_select">Linh vuc chi:</label>
                <select id="expenses_select" name="expenses_select">
                    <option value="Thuoc - Vat tu y te">Thuoc - Vat tu y te</option>
                    <option value="Van phong pham">Van phong pham</option>
                    <option value="Chi phi van hanh">Chi phi van hanh</option>
                </select><br><br>
                    <label for="day">Ngay:</label>
                    <input type="text" id="day" name="day"><br><br>

                    <label for="description">Noi Dung:</label>
                    <input type="text" id="description" name="description"><br><br>

                    <label for="quantity">So luong:</label>
                    <input type="text" id="quantity" name="quantity"><br><br>

                    <label for="unit">Đơn vị tính:</label>
                    <input type="text" id="unit" name="unit"><br><br>

                    <label for="unit_price">Don gia:</label>
                    <input type="text" id="unit_price" name="unit_price"><br><br>

                    <label for="note">Ghi chu:</label>
                    <input type="text" id="note" name="note"><br><br>

                    <input type="submit" value="Lưu thông tin">
                </form><br><br>

        </div>
<a href="/expenses_show">Hien thi tong chi trong thang</a>
</div>
{% endblock %}